h1
{
    text-align: center;
    color:white;
    border: 2 px solid black;
    font-family: 'Roboto', sans-serif;
}
.robots{

}
body{
    background-color:lightpink; 
}
.eyes{

}

.head{
    background-color: #ff8800;
}
.left_arm,.right_arm{
    background-color:white;
}
.torso{
    background-color:hsl(0, 0%, 100%);
}

.left_leg,
.right_leg
{
    background-color:green;
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
} 


.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
}


.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 
	margin: 0 auto;
	
} 
.upper_body:hover {
	width: 270px;
    transition: 1s ease-in-out;
}


.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 



.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
} 
.right_arm { 
	margin-left: 10px; 
} 

.right_arm:hover {
    transform: rotate(-80deg);
}
.left_arm:hover {
    transform: rotate(40deg);
}



.lower_body { 
	width: 200px; 
	height: 200px;
	margin: 0 auto;

} 
.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
	margin: 0 auto;
} 

.left_leg { 
	margin-left: 45px; 
	margin-top: 0px;
} 

.left_leg:hover {
    transform: rotate(20deg);
}

.right_leg { 
	margin-left: 120px; 
	margin-top: -120px;
	margin-bottom: 80px;
	
}

.right_leg:hover {
    transform: rotate(-20deg);
}

.lefteye, .righteye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	position: relative; 
	top: 90px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 70px; 
	left: 120px; 
}
